<div class="box">
    <mat-toolbar class="nav-bar">
        <button mat-icon-button [matMenuTriggerFor]="menu" class="nav-menu">
            <mat-icon>menu</mat-icon>
        </button>
        <button mat-button color="primary" class="nav-button-main">
            <mat-icon>set_meal</mat-icon>
            HeyRecipes
        </button>
        <span class="nav-spacer-small"></span>
        <button mat-button class="nav-button">
            <mat-icon>sentiment_satisfied</mat-icon>
            Why Us
        </button>
        <button mat-button class="nav-button">
            <mat-icon>emoji_nature</mat-icon>
            How It Works
        </button>
        <button mat-button class="nav-button">
            <mat-icon>local_dining</mat-icon>
            Meals
        </button>
        <button mat-button class="nav-button">
            <mat-icon>rocket_launch</mat-icon>
            Custom Deployment
        </button>
        <span class="nav-spacer-right-fill"></span>
        <button mat-button color="warn" class="nav-button">
            <mat-icon>camera</mat-icon>
            Capture
        </button>
    </mat-toolbar>
    <mat-menu #menu="matMenu" id="nav-menu-column">
        <button mat-menu-item>
            <mat-icon>sentiment_satisfied</mat-icon>
            Why Us
        </button>
        <button mat-menu-item>
            <mat-icon>emoji_nature</mat-icon>
            How It Works
        </button>
        <button mat-menu-item>
            <mat-icon>local_dining</mat-icon>
            Meals
        </button>
        <button mat-menu-item>
            <mat-icon>rocket_launch</mat-icon>
            Custom Deployment
        </button>
        <button mat-menu-item>
            <mat-icon>camera</mat-icon>
            Capture
        </button>
    </mat-menu>
</div>