<div class="recipe-wrapper">
    <div class="recipe-header">
        <mat-icon fontIcon="room_service"></mat-icon>
        <div class="recipe-choose-box">
            <button mat-fab color="primary">
                <mat-icon>arrow_upward</mat-icon>
            </button>
            <span>0</span>
            <button mat-fab disabled>
                <mat-icon>arrow_downward</mat-icon>
            </button>
        </div>
    </div>
    <mat-expansion-panel class="recipe-unsel">
        <mat-expansion-panel-header>
            <mat-panel-title>
                Simply yum meal
            </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="recipe-desc">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Itaque totam amet quod
            quaerat, fuga illo mollitia cumque vero fugit ex soluta, ipsam placeat rerum quibusdam.</div>
        <mat-list>
            <mat-list-item>
                <mat-icon matListItemIcon>note</mat-icon>
                <div matListItemTitle>Ingredient 1</div>
                <div matListItemLine>Quantity: 1</div>
            </mat-list-item>
            <mat-list-item>
                <mat-icon matListItemIcon>note</mat-icon>
                <div matListItemTitle>Ingredient 2</div>
                <div matListItemLine>Quantity: 1</div>
            </mat-list-item>
            <mat-list-item>
                <mat-icon matListItemIcon>note</mat-icon>
                <div matListItemTitle>Ingredient 3</div>
                <div matListItemLine>Quantity: 1</div>
            </mat-list-item>
            <mat-list-item>
                <mat-icon matListItemIcon>note</mat-icon>
                <div matListItemTitle>Ingredient 4</div>
                <div matListItemLine>Quantity: 1</div>
            </mat-list-item>
        </mat-list>
    </mat-expansion-panel>
</div>
