@import '../../imports.scss';

mat-expansion-panel.recipe-sel {
    background-color: $primary-color;
}

mat-expansion-panel.recipe-unsel {
    background-color: $basic-color;
}

.recipe-wrapper {
    width: $recipe-width;
    margin: 0.5rem;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.recipe-header {
    display: flex;
    align-items: center;

    >img {
        width: $pic-size;
        height: $pic-size;
    }
}

.recipe-choose-box {
    padding: 15% 0;
    width: calc($recipe-width - $pic-size);
    height: $pic-size;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;

    >span {
        user-select: none;
        font-size: 20px;
        font-weight: bold;
    }
}

@media (max-width: 676px) {
    .recipe-wrapper {
        width: $recipe-width-small;

        mat-panel-title {
            font-size: 14px;
        }

        .recipe-desc {
            font-size: 12px;
        }
    }

    .recipe-header {
        >img {
            width: $pic-size-small;
            height: $pic-size-small;
        }
    }

    .recipe-choose-box {
        padding: 10% 0;
        width: calc($recipe-width-small - $pic-size-small);
        height: $pic-size-small;

        >button {
            width: 48px;
            height: 48px;

            >mat-icon {
                font-size: 20px;
                width: 20px;
                height: 20px;
            }
        }

        >span {
            font-size: 18px;
        }
    }
}
