<div class="recipe-wrapper">
    <mat-icon fontIcon="room_service"></mat-icon>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Simply yum meal
            </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="recipe-desc">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Itaque totam amet quod
            quaerat, fuga illo mollitia cumque vero fugit ex soluta, ipsam placeat rerum quibusdam.</div>
        <mat-list>
            <mat-list-item>
                <mat-icon matListItemIcon>note</mat-icon>
                <div matListItemTitle>Ingredient 1</div>
                <div matListItemLine>Quantity: 1</div>
            </mat-list-item>
            <mat-list-item>
                <mat-icon matListItemIcon>note</mat-icon>
                <div matListItemTitle>Ingredient 2</div>
                <div matListItemLine>Quantity: 1</div>
            </mat-list-item>
            <mat-list-item>
                <mat-icon matListItemIcon>note</mat-icon>
                <div matListItemTitle>Ingredient 3</div>
                <div matListItemLine>Quantity: 1</div>
            </mat-list-item>
            <mat-list-item>
                <mat-icon matListItemIcon>note</mat-icon>
                <div matListItemTitle>Ingredient 4</div>
                <div matListItemLine>Quantity: 1</div>
            </mat-list-item>
        </mat-list>
    </mat-expansion-panel>
</div>
