@import '../../imports.scss';

#main-box {
    border: solid purple;
    min-height: 200px;
}

#title-box {
    text-align: center;
    font-size: 32px;
    margin: 2rem 0;
    padding: 1rem;
}

#chipset-container {
    border: solid purple;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
}

app-chipset {
    max-width: 100%;
    padding: 1rem;
    margin: 0 3rem;
    min-height: 80px;
}

#meals-container {
    border: solid purple;
    min-height: 400px;
    padding: 1rem 10%;
    // display: grid;
    // grid-template-columns: repeat(3, $recipe-width);
    // grid-template-rows: auto;
    // column-gap: 50px;
    // justify-content: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

@media (max-width: 900px) {
    app-chipset {
        margin: 0 1.5rem 0 1rem;
    }
}

@media (max-width: 768px) {
    #chipset-container {
        flex-direction: column;
    }

    app-chipset {
        margin: 0.5rem 1.5rem 0.5rem 1rem;
    }
}


@media (max-width: 575px) {
    #meals-container {
        padding: 1rem 5%;
    }
}
