<div id="main-box">
    <div id="title-box">Explore delicious treats</div>
    <div id="chipset-container">
        <app-chipset></app-chipset>
        <app-chipset></app-chipset>
    </div>
    <div id="meals-container">
        <div>
            <app-recipe></app-recipe>
            <app-recipe></app-recipe>
            <app-recipe></app-recipe>
            <app-recipe></app-recipe>
        </div>
        <div>
            <app-recipe></app-recipe>
            <app-recipe></app-recipe>
            <app-recipe></app-recipe>
        </div>
    </div>
</div>
