<div id="why-box">
    <div id="why-title">Our advantages and appeals</div>
    <div id="why-card-box">
        <div class="why-card">
            <mat-icon class="why-card-icon">fort</mat-icon>
            <div class="why-card-title">Lorem ipsum dolor sit.</div>
            <div class="why-card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</div>
        </div>
        <div class="why-card">
            <mat-icon class="why-card-icon">hive</mat-icon>
            <div class="why-card-title">Lorem, ipsum dolor.</div>
            <div class="why-card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit.</div>
        </div>
        <div class="why-card">
            <mat-icon class="why-card-icon">fastfood</mat-icon>
            <div class="why-card-title">Lorem ipsum dolor sit.</div>
            <div class="why-card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.</div>
        </div>
        <div class="why-card">
            <mat-icon class="why-card-icon">scatter_plot</mat-icon>
            <div class="why-card-title">Lorem, ipsum dolor.</div>
            <div class="why-card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui.</div>
        </div>
    </div>
</div>
