<div id="why-box">
  <div id="why-title">Our advantages and appeals</div>
  <div id="why-card-box">
    <div class="why-card">
      <img src="../../assets/illustrations/why-icon-1.png" alt="why-i-1" />
      <div class="why-card-title">Freedom</div>
      <div class="why-card-text">
        Choose any of your favorite recipe at any time for any amount.
      </div>
    </div>
    <div class="why-card">
      <img src="../../assets/illustrations/why-icon-2.png" alt="why-i-2" />
      <div class="why-card-title">Customization</div>
      <div class="why-card-text">
        Mix and match the ingredients to suit your taste and diet with unlimited
        options.
      </div>
    </div>
    <div class="why-card">
      <img src="../../assets/illustrations/why-icon-3.png" alt="why-i-3" />
      <div class="why-card-title">Superb value</div>
      <div class="why-card-text">
        Buy ingredients during regular shopping, in bulk, and without the cost
        of shipping.
      </div>
    </div>
    <div class="why-card">
      <img src="../../assets/illustrations/why-icon-4.png" alt="why-i-4" />
      <div class="why-card-title">Worry-free</div>
      <div class="why-card-text">
        You are in total control. No commitment, no subscription, and no hassle.
      </div>
    </div>
  </div>
</div>
