<div id="why-box">
    <div id="why-title">Our advantages and appeals</div>
    <div id="why-card-box">
        <div class="why-card">
            <img src="../../assets/illustrations/why-icon-1.png" alt="why-i-1">
            <div class="why-card-title">Freedom</div>
            <div class="why-card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</div>
        </div>
        <div class="why-card">
            <img src="../../assets/illustrations/why-icon-2.png" alt="why-i-2">
            <div class="why-card-title">Customization</div>
            <div class="why-card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit.</div>
        </div>
        <div class="why-card">
            <img src="../../assets/illustrations/why-icon-3.png" alt="why-i-3">
            <div class="why-card-title">Save money</div>
            <div class="why-card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.</div>
        </div>
        <div class="why-card">
            <img src="../../assets/illustrations/why-icon-4.png" alt="why-i-4">
            <div class="why-card-title">Eliminate waste</div>
            <div class="why-card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui.</div>
        </div>
    </div>
</div>
