<div id="how-box">
  <div id="how-pic-box">
    <img src="../../assets/illustrations/how-illu.png" alt="how-illu" />
  </div>
  <div id="how-right-box">
    <div id="how-question">How do I use this app?</div>
    <div id="how-list-box">
      <div class="how-li-box">
        <mat-icon class="how-li-icon">done</mat-icon>
        <div class="how-li-text">
          Lorem ipsum dolor sit amet, consectetur adipisicing.
        </div>
      </div>
      <div class="how-li-box">
        <mat-icon class="how-li-icon">done</mat-icon>
        <div class="how-li-text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique,
          nemo.
        </div>
      </div>
      <div class="how-li-box">
        <mat-icon class="how-li-icon">done</mat-icon>
        <div class="how-li-text">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit.
        </div>
      </div>
      <div class="how-li-box">
        <mat-icon class="how-li-icon">done</mat-icon>
        <div class="how-li-text">Lorem ipsum dolor sit amet consectetur.</div>
      </div>
      <div class="how-li-box">
        <mat-icon class="how-li-icon">done</mat-icon>
        <div class="how-li-text">
          Lorem ipsum, dolor sit amet consectetur adipisicing.
        </div>
      </div>
    </div>
  </div>
</div>
