<div id="how-box">
  <div id="how-pic-box">
    <img src="../../assets/illustrations/how-illu.png" alt="how-illu" />
  </div>
  <div id="how-right-box">
    <div id="how-question">How do I use this app?</div>
    <div id="how-list-box">
      <div class="how-li-box">
        <mat-icon class="how-li-icon">done</mat-icon>
        <div class="how-li-text">
          Download or clone this source code from GitHub.
        </div>
      </div>
      <div class="how-li-box">
        <mat-icon class="how-li-icon">done</mat-icon>
        <div class="how-li-text">
          Collect or create your recipes and prepare a data (JSON) file.
        </div>
      </div>
      <div class="how-li-box">
        <mat-icon class="how-li-icon">done</mat-icon>
        <div class="how-li-text">
          Run an instance of the application with the compiled data.
        </div>
      </div>
      <div class="how-li-box">
        <mat-icon class="how-li-icon">done</mat-icon>
        <div class="how-li-text">
          Use the simple interface to filter and select your meals.
        </div>
      </div>
      <div class="how-li-box">
        <mat-icon class="how-li-icon">done</mat-icon>
        <div class="how-li-text">
          Get your shopping list by hitting "Checkout", and profit.
        </div>
      </div>
      <div class="how-li-box">
        <mat-icon class="how-li-icon">done</mat-icon>
        <div class="how-li-text">
          More instructions and tips are available on the GitHub page.
        </div>
      </div>
    </div>
  </div>
</div>
