@import './imports.scss';

* {
    box-sizing: border-box;
    line-height: 1.0;
    max-width: 100%;
}

html,
body {
    background-color: $basic-color;
    color: white;
    overflow-x: hidden;
}

body {
    height: 100%;
    margin: 64px 0 0 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}
